<!DOCTYPE html>

<html lang="ru">
<head>

<meta charset="UTF-8">

<title> Пример простой страницы html для 21vek</title>
</head>

<body>

<h3>Доступные end-points:</h3>
<br>
<p><b>.../articles</b> - получение всех записей, находящихся в базе данных</p>
<p><b>.../articles/{article_id}</b> - получения записи из базы данных с id равным article_id</p>
<p><b>.../new_article</b> - для добавления записи в базу данных</p>
<p><b>.../update_article/{article_id}</b> - обновление записи в базе данных с id равным article_id</p>
<p><b>.../delete_article/{article_id}</b> - удаление записи в базе данных с id равным article_id</p>

</body>

</html>